body {
  background-color: #c6c6c6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.button {
  width: 30%;
}

.buttonM {
  width: 15%;
}

.input {
  width: 40%;
}

.rcorners {
  margin: auto;
  border-radius: 10px;
  background: #73AD21;
  padding: 20px;
  width: 300px;
  height: 100%;
  background-color: #ffe999;
}

.small {
  font-size: small;
}
